In [16]:
# =========================================
# Week 2 - Data Cleaning (E-Commerce Project)
# Dataset: Customer_support_data.csv
# =========================================

import pandas as pd
import numpy as np
from tabulate import tabulate
from IPython.display import display

# ---- 1. Load Dataset ----
df_before = pd.read_csv("Customer_support_data.csv")   # Keep original for comparison
df = df_before.copy()  # Working copy

print("📌 Dataset Loaded Successfully!")

# ---- 2. Dataset Shape ----
print("\n📌 Dataset Shape (Before Cleaning):")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

# ---- 3. Missing Values Count ----
print("\n📌 Missing Values Per Column (Before Cleaning):")
missing_values = df.isnull().sum().reset_index()
missing_values.columns = ["Column", "Missing Values"]
print(tabulate(missing_values, headers="keys", tablefmt="grid"))

# ---- 4. Handle Missing Values ----
missing_mask = df.isnull()   # Store NaN locations before filling

filling_strategy = []
for col in df.columns:
    if df[col].dtype in ["int64","float64"]:  # Numeric column
        mean_val = round(df[col].mean(skipna=True),2) if not df[col].dropna().empty else np.nan
        median_val = round(df[col].median(skipna=True),2) if not df[col].dropna().empty else np.nan
        mode_val = df[col].mode().iloc[0] if not df[col].mode().empty else np.nan
        strategy = "Median"
        df[col] = df[col].fillna(median_val)
    else:  # Categorical column
        mean_val, median_val = np.nan, np.nan
        mode_val = df[col].mode().iloc[0] if not df[col].mode().empty else "N/A"
        strategy = "Mode"
        df[col] = df[col].fillna(mode_val)
    
    filling_strategy.append([col, mean_val, median_val, mode_val, strategy])

# Print Filling Strategy Table
print("\n📌 Missing Value Filling Strategy (Mean / Median / Mode):")
print(tabulate(pd.DataFrame(filling_strategy, 
                            columns=["Column","Mean","Median","Mode","Used Strategy"]),
               headers="keys", tablefmt="grid", showindex=False))

# ---- 5. Remove Duplicates ----
before_dup = df.shape[0]
df = df.drop_duplicates()
after_dup = df.shape[0]
print(f"\n📌 Duplicate Rows Removed: {before_dup - after_dup}")







# ---- 6. Outlier Detection & Treatment with Explanation ----
print("\n📌 Quartile & Outlier Explanation (Numeric Columns):")

iqr_summary = []  # store results for summary table

for col in df.select_dtypes(include=["int64","float64"]).columns:
    Q1 = df[col].quantile(0.25)
    Q2 = df[col].quantile(0.50)  # Median
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    below_outliers = (df[col] < lower).sum()
    above_outliers = (df[col] > upper).sum()
    
    # Print explanation with conceptual meaning
    print(f"\n📊 Column: {col}")
    print(f"   Q1 (middle of lower half) = {Q1:.2f}")
    print(f"   Q2 (median / middle of dataset) = {Q2:.2f}")
    print(f"   Q3 (middle of upper half) = {Q3:.2f}")
    print(f"   IQR (Q3 - Q1) = {IQR:.2f}")
    print(f"   Lower Bound = Q1 - 1.5*IQR = {lower:.2f}")
    print(f"   Upper Bound = Q3 + 1.5*IQR = {upper:.2f}")
    
    # Added note explaining bounds
    print(f"   Note: Values >= {lower:.2f} and <= {upper:.2f} are considered normal;")
    print(f"         only values < {lower:.2f} or > {upper:.2f} are outliers.")
    
    print(f"   ➝ Outliers Found: {below_outliers} below, {above_outliers} above")
    
    # Store results for table
    iqr_summary.append([col, round(Q1,2), round(Q2,2), round(Q3,2), round(IQR,2),
                        round(lower,2), round(upper,2), below_outliers, above_outliers])
    
    # Cap the outliers
    df[col] = np.where(df[col] < lower, lower, df[col])
    df[col] = np.where(df[col] > upper, upper, df[col])

# Create summary table
iqr_table = pd.DataFrame(iqr_summary, 
                         columns=["Column", "Q1", "Q2 (Median)", "Q3", "IQR", 
                                  "Lower Bound", "Upper Bound", "Outliers Below", "Outliers Above"])

print("\n📌 IQR & Outlier Summary Table:")
print(tabulate(iqr_table, headers="keys", tablefmt="grid", showindex=False))

# ---- 7. Show First 20 Rows Before & After Cleaning ----
print("\n📌 First 20 Rows BEFORE Cleaning (Original Data with NaNs):")
display(df_before.head(20))

print("\n📌 First 20 Rows AFTER Cleaning (Missing Values Filled, Highlighted in Yellow):")

def highlight_filled(val, was_missing):
    return "background-color: #D97D55" if was_missing else ""

styled = df.head(20).style.apply(
    lambda s: [highlight_filled(v, was_missing) 
               for v, was_missing in zip(s, missing_mask[s.name].head(20))],
    axis=0
)
display(styled)

# ---- 8. Summary After Cleaning ----
print("\n📌 Dataset Shape (After Cleaning):")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

print("\n📌 Missing Values Per Column (After Cleaning):")
missing_values_after = df.isnull().sum().reset_index()
missing_values_after.columns = ["Column", "Missing Values"]
print(tabulate(missing_values_after, headers="keys", tablefmt="grid"))

📌 Dataset Loaded Successfully!

📌 Dataset Shape (Before Cleaning):
Rows: 85907, Columns: 20

📌 Missing Values Per Column (Before Cleaning):
+----+-------------------------+------------------+
|    | Column                  |   Missing Values |
+====+=========================+==================+
|  0 | Unique id               |                0 |
+----+-------------------------+------------------+
|  1 | channel_name            |                0 |
+----+-------------------------+------------------+
|  2 | category                |                0 |
+----+-------------------------+------------------+
|  3 | Sub-category            |                0 |
+----+-------------------------+------------------+
|  4 | Customer Remarks        |            57165 |
+----+-------------------------+------------------+
|  5 | Order_id                |            18232 |
+----+-------------------------+------------------+
|  6 | order_date_time         |            68693 |
+----+-------------------------+------------------+
|  7 | Issue_reported at       |                0 |
+----+-------------------------+------------------+
|  8 | issue_responded         |                0 |
+----+-------------------------+------------------+
|  9 | Survey_response_Date    |                0 |
+----+-------------------------+------------------+
| 10 | Customer_City           |            68828 |
+----+-------------------------+------------------+
| 11 | Product_category        |            68711 |
+----+-------------------------+------------------+
| 12 | Item_price              |            68701 |
+----+-------------------------+------------------+
| 13 | connected_handling_time |            85665 |
+----+-------------------------+------------------+
| 14 | Agent_name              |                0 |
+----+-------------------------+------------------+
| 15 | Supervisor              |                0 |
+----+-------------------------+------------------+
| 16 | Manager                 |                0 |
+----+-------------------------+------------------+
| 17 | Tenure Bucket           |                0 |
+----+-------------------------+------------------+
| 18 | Agent Shift             |                0 |
+----+-------------------------+------------------+
| 19 | CSAT Score              |                0 |
+----+-------------------------+------------------+

📌 Missing Value Filling Strategy (Mean / Median / Mode):
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Column                  |    Mean |   Median | Mode                                 | Used Strategy   |
+=========================+=========+==========+======================================+=================+
| Unique id               |  nan    |      nan | 0000978d-8599-4e17-8cf6-28e9faeba4c9 | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| channel_name            |  nan    |      nan | Inbound                              | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| category                |  nan    |      nan | Returns                              | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Sub-category            |  nan    |      nan | Reverse Pickup Enquiry               | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Customer Remarks        |  nan    |      nan | Good                                 | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Order_id                |  nan    |      nan | 0000a850-ca65-4eb1-ace1-9e34d5d1637a | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| order_date_time         |  nan    |      nan | 09/08/2023 11:55                     | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Issue_reported at       |  nan    |      nan | 13/08/2023 10:40                     | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| issue_responded         |  nan    |      nan | 28/08/2023 00:00                     | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Survey_response_Date    |  nan    |      nan | 28-Aug-23                            | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Customer_City           |  nan    |      nan | HYDERABAD                            | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Product_category        |  nan    |      nan | Electronics                          | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Item_price              | 5660.77 |      979 | 999.0                                | Median          |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| connected_handling_time |  462.4  |      427 | 282.0                                | Median          |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Agent_name              |  nan    |      nan | Wendy Taylor                         | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Supervisor              |  nan    |      nan | Carter Park                          | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Manager                 |  nan    |      nan | John Smith                           | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Tenure Bucket           |  nan    |      nan | >90                                  | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| Agent Shift             |  nan    |      nan | Morning                              | Mode            |
+-------------------------+---------+----------+--------------------------------------+-----------------+
| CSAT Score              |    4.24 |        5 | 5                                    | Median          |
+-------------------------+---------+----------+--------------------------------------+-----------------+

📌 Duplicate Rows Removed: 0

📌 Quartile & Outlier Explanation (Numeric Columns):

📊 Column: Item_price
   Q1 (middle of lower half) = 979.00
   Q2 (median / middle of dataset) = 979.00
   Q3 (middle of upper half) = 979.00
   IQR (Q3 - Q1) = 0.00
   Lower Bound = Q1 - 1.5*IQR = 979.00
   Upper Bound = Q3 + 1.5*IQR = 979.00
   Note: Values >= 979.00 and <= 979.00 are considered normal;
         only values < 979.00 or > 979.00 are outliers.
   ➝ Outliers Found: 8600 below, 8599 above

📊 Column: connected_handling_time
   Q1 (middle of lower half) = 427.00
   Q2 (median / middle of dataset) = 427.00
   Q3 (middle of upper half) = 427.00
   IQR (Q3 - Q1) = 0.00
   Lower Bound = Q1 - 1.5*IQR = 427.00
   Upper Bound = Q3 + 1.5*IQR = 427.00
   Note: Values >= 427.00 and <= 427.00 are considered normal;
         only values < 427.00 or > 427.00 are outliers.
   ➝ Outliers Found: 120 below, 120 above

📊 Column: CSAT Score
   Q1 (middle of lower half) = 4.00
   Q2 (median / middle of dataset) = 5.00
   Q3 (middle of upper half) = 5.00
   IQR (Q3 - Q1) = 1.00
   Lower Bound = Q1 - 1.5*IQR = 2.50
   Upper Bound = Q3 + 1.5*IQR = 6.50
   Note: Values >= 2.50 and <= 6.50 are considered normal;
         only values < 2.50 or > 6.50 are outliers.
   ➝ Outliers Found: 12513 below, 0 above

📌 IQR & Outlier Summary Table:
+-------------------------+------+---------------+------+-------+---------------+---------------+------------------+------------------+
| Column                  |   Q1 |   Q2 (Median) |   Q3 |   IQR |   Lower Bound |   Upper Bound |   Outliers Below |   Outliers Above |
+=========================+======+===============+======+=======+===============+===============+==================+==================+
| Item_price              |  979 |           979 |  979 |     0 |         979   |         979   |             8600 |             8599 |
+-------------------------+------+---------------+------+-------+---------------+---------------+------------------+------------------+
| connected_handling_time |  427 |           427 |  427 |     0 |         427   |         427   |              120 |              120 |
+-------------------------+------+---------------+------+-------+---------------+---------------+------------------+------------------+
| CSAT Score              |    4 |             5 |    5 |     1 |           2.5 |           6.5 |            12513 |                0 |
+-------------------------+------+---------------+------+-------+---------------+---------------+------------------+------------------+

📌 First 20 Rows BEFORE Cleaning (Original Data with NaNs):

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,NaN,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,b07ec1b0-f376-43b6-86df-ec03da3b2e16,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,NaN,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,200814dd-27c7-4149-ba2b-bd3af3092880,Inbound,Order Related,Installation/demo,NaN,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,NaN,NaN,NaN,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,eb0d3e53-c1ca-42d3-8486-e42c8d622135,Inbound,Returns,Reverse Pickup Enquiry,NaN,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,NaN,NaN,NaN,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,ba903143-1e54-406c-b969-46c52f92e5df,Inbound,Cancellation,Not Needed,NaN,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,NaN,NaN,NaN,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5
5,1cfde5b9-6112-44fc-8f3b-892196137a62,Email,Returns,Fraudulent User,NaN,a2938961-2833-45f1-83d6-678d9555c603,NaN,01/08/2023 15:13,01/08/2023 18:39,01-Aug-23,NaN,NaN,NaN,NaN,Desiree Newton,Emma Park,John Smith,0-30,Morning,5
6,11a3ffd8-1d6b-4806-b198-c60b5934c9bc,Outcall,Product Queries,Product Specific Information,NaN,bfcb562b-9a2f-4cca-aa79-fd4e2952f901,NaN,01/08/2023 15:31,01/08/2023 23:52,01-Aug-23,NaN,NaN,NaN,NaN,Shannon Hicks,Aiden Patel,Olivia Tan,>90,Morning,5
7,372b51a5-fa19-4a31-a4b8-a21de117d75e,Inbound,Returns,Exchange / Replacement,Very good,88537e0b-5ffa-43f9-bbe2-fe57a0f4e4ae,NaN,01/08/2023 16:17,01/08/2023 16:23,01-Aug-23,NaN,NaN,NaN,NaN,Laura Smith,Evelyn Kimura,Jennifer Nguyen,On Job Training,Evening,5
8,6e4413db-4e16-42fc-ac92-2f402e3df03c,Inbound,Returns,Missing,Shopzilla app and it's all coustomer care serv...,e6be9713-13c3-493c-8a91-2137cbbfa7e6,NaN,01/08/2023 21:03,01/08/2023 21:07,01-Aug-23,NaN,NaN,NaN,NaN,David Smith,Nathan Patel,John Smith,>90,Split,5
9,b0a65350-64a5-4603-8b9a-a24a4a145d08,Inbound,Shopzilla Related,General Enquiry,NaN,c7caa804-2525-499e-b202-4c781cb68974,NaN,01/08/2023 23:31,01/08/2023 23:36,01-Aug-23,NaN,NaN,NaN,NaN,Tabitha Ayala,Amelia Tanaka,Michael Lee,31-60,Evening,5
10,74a2cbbf-497e-4177-b30b-483f99effb13,Outcall,Returns,Return request,NaN,5862d1a1-2081-4e28-ad0a-cec43380ac7d,NaN,02/08/2023 18:14,02/08/2023 18:16,02-Aug-23,NaN,NaN,NaN,NaN,Carla Morgan,Nathan Patel,Emily Chen,0-30,Evening,4
11,4c28acf4-2ea4-4be8-b8f1-113e676fc8b7,Inbound,Order Related,Delayed,Very bad,55bbace3-eb2e-4f67-aacb-4f8ee8512f75,19/07/2023 23:50,02/08/2023 10:44,02/08/2023 11:14,02-Aug-23,NAGPUR,LifeStyle,434.0,NaN,Stanley Hogan,Harper Wong,Emily Chen,>90,Split,1
12,e7ec72bb-65e9-4464-9c2b-8ce6b0e82a28,Inbound,Shopzilla Related,General Enquiry,NaN,c7d5eef8-d239-474c-8d24-542db2923b3c,NaN,01/08/2023 10:09,01/08/2023 10:12,01-Aug-23,NaN,NaN,NaN,NaN,Timothy Scott,Zoe Yamamoto,William Kim,On Job Training,Morning,4
13,68c596f2-4130-42f9-a140-b336261b1629,Inbound,Shopzilla Related,General Enquiry,NaN,c1e10375-7426-4b2a-aca6-17dc6bc9c7a3,NaN,01/08/2023 10:15,01/08/2023 11:21,01-Aug-23,NaN,NaN,NaN,NaN,Shannon Hicks,Aiden Patel,Olivia Tan,>90,Morning,4
14,6b966653-0900-4d58-8b38-c17cfbdaf000,Inbound,Returns,Reverse Pickup Enquiry,NaN,9e0d7d55-d012-42f7-8e21-634942419386,NaN,02/08/2023 11:26,02/08/2023 11:44,02-Aug-23,NaN,NaN,NaN,NaN,Mark Wilson,Scarlett Chen,John Smith,0-30,Morning,5
15,130dfefe-1d77-47f9-b759-546f24b6b909,Inbound,Returns,Missing,NaN,8153c646-4940-406f-992c-952ed08e9af8,NaN,02/08/2023 19:56,02/08/2023 20:06,02-Aug-23,NaN,NaN,NaN,NaN,Mark Black,Sophia Sato,John Smith,>90,Afternoon,5
16,4cc4df74-fcd3-413a-920d-ca3ad2dd0904,Inbound,Returns,Service Centres Related,NaN,4245d6df-49c6-491a-8724-125c4df82e75,06/05/2023 21:41,01/08/2023 09:01,01/08/2023 09:03,01-Aug-23,RANCHI,Electronics,1299.0,NaN,Amy Mendez,Sophia Sato,John Smith,0-30,Morning,5
17,c54459b3-ffb3-4ffa-a338-6fd179beb6b1,Inbound,Order Related,Installation/demo,Something,0cdaa1f1-02f2-40ec-9134-7cd0f92a6b3e,NaN,01/08/2023 10:00,01/08/2023 10:04,01-Aug-23,NaN,NaN,NaN,NaN,Jennifer May,Zoe Yamamoto,William Kim,On Job Training,Morning,3
18,deccfb1d-05d4-40b8-8371-15282c91bacb,Inbound,Cancellation,Not Needed,NaN,3f16b782-27cf-4831-b542-cd8bd60c0385,NaN,01/08/2023 21:05,01/08/2023 21:07,01-Aug-23,NaN,NaN,NaN,NaN,Ryan Thompson,Olivia Wang,Emily Chen,31-60,Evening,5
19,6e51734e-9627-4a12-8062-877c3638627d,Inbound,Order Related,Installation/demo,All good,8a1ae638-4d8c-4a5e-bf1b-eb74f881fc3d,18/07/2023 12:20,02/08/2023 20:03,02/08/2023 20:05,02-Aug-23,NAGPUR,Electronics,15990.0,NaN,David Butler,Olivia Wang,Emily Chen,31-60,Evening,5

📌 First 20 Rows AFTER Cleaning (Missing Values Filled, Highlighted in Yellow):

📌 Dataset Shape (After Cleaning):
Rows: 85907, Columns: 20

📌 Missing Values Per Column (After Cleaning):
+----+-------------------------+------------------+
|    | Column                  |   Missing Values |
+====+=========================+==================+
|  0 | Unique id               |                0 |
+----+-------------------------+------------------+
|  1 | channel_name            |                0 |
+----+-------------------------+------------------+
|  2 | category                |                0 |
+----+-------------------------+------------------+
|  3 | Sub-category            |                0 |
+----+-------------------------+------------------+
|  4 | Customer Remarks        |                0 |
+----+-------------------------+------------------+
|  5 | Order_id                |                0 |
+----+-------------------------+------------------+
|  6 | order_date_time         |                0 |
+----+-------------------------+------------------+
|  7 | Issue_reported at       |                0 |
+----+-------------------------+------------------+
|  8 | issue_responded         |                0 |
+----+-------------------------+------------------+
|  9 | Survey_response_Date    |                0 |
+----+-------------------------+------------------+
| 10 | Customer_City           |                0 |
+----+-------------------------+------------------+
| 11 | Product_category        |                0 |
+----+-------------------------+------------------+
| 12 | Item_price              |                0 |
+----+-------------------------+------------------+
| 13 | connected_handling_time |                0 |
+----+-------------------------+------------------+
| 14 | Agent_name              |                0 |
+----+-------------------------+------------------+
| 15 | Supervisor              |                0 |
+----+-------------------------+------------------+
| 16 | Manager                 |                0 |
+----+-------------------------+------------------+
| 17 | Tenure Bucket           |                0 |
+----+-------------------------+------------------+
| 18 | Agent Shift             |                0 |
+----+-------------------------+------------------+
| 19 | CSAT Score              |                0 |
+----+-------------------------+------------------+